<h1>Movie List</h1>
<div class="container col-md-12">
  <select name="oscar_category">
    <option value="">All</option>
    <% OscarCategory.all.each do |cat| %>
      <option value=cat.id><%= cat.name %></option>
    <% end %>
  </select>
  <% @movies.each_with_index do |movie, index| %>
    <% class_name = movie.status == 0 ? 'not-seen' : 'seen' %>
    <div class="row col-md-6 <%= class_name %>" >
      <%= link_to (index + 1).to_s + ".  " + movie.title, "/movies/"+ movie.id.to_s %>
      <%= form_tag movie_seen_update_path, method: :put do -%>
        <%= hidden_field_tag :movie_id, movie.id %>
        <% if movie.status == 0 %>
          <%= submit_tag 'Mark Seen'%>
        <% else %>
          <%= submit_tag 'Mark Unseen'%>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
