<div class='movie-info col-xs-12'>
  <div class='breadcrumb col-xs-6'>
    <%= link_to 'All Movies / ', movies_path %><%=@movie.title%>
  </div>
  <br/>
  <h1>Info and Movie Times</h1>
  <h2><%= @movie.title %></h2>
  <div class="container now-playing col-xs-6">
    Theaters and Times
      <% @movie.movie_theaters.each do |movie_theater| %>
        <div class="theatr-info">
          <%= movie_theater.theater.name + ",  " + movie_theater.location + ", " %>
          <%= "Showings Today: " + movie_theater.date_times %>
        </div>
      <% end %>
  </div>
  <div class="container categories col-xs-6">
    Oscar Categories
      <% @movie.oscar_categories.each do |oscar_cat| %>
        <div class="oscar-category"><%= oscar_cat.name %></div>
      <% end %>
  </div>
</div>
